
@-moz-document domain(npmjs.com) {
	h1, h2, h3, h4, h5, h6{
		color: #FFF !important;
	}
	a.db.fw6.link.ph4:hover{
		color: #000 !important;
	}
	.search__searchTopbar___2R2Ol{
		background-color: #2A2F3B;
	}

	.search__searchTopbarContainer___2yODz {
		background-color: #20242d !important;
	}

	.typeahead__typeaheadList___2r0x5,
	.homepage__container___36UsR,
	.homepage__outer___-Qjxs {
		color: #ccc;
		background-color: #000;
	}

	body {
		color: #333 !important;
		background-color: #20242d;
	}

	header {
		border-bottom: none !important;
	}

	.header__searchInput___102CH,
	.header__firstPublish___2CEvd,
	.header__expansions___3REog{
		color: #ccc !important;
	}

	nav button,
	header div {
		background-color: #20242d !important;
	}

	a[href="/"] svg {
		background-color: #fb3e44 !important;
	}

	a[href="/"] svg path{
		fill: #ededed !important;
	}

	li a {
		color: #999 !important;
	}

	.global__application___g4ZRy main{
		background-color:#2A303C
	}

	main .black,
	main .hover-black:focus,
	main .hover-black:hover{
		color:#fff
	}

	main .black-80{
		color:rgba(255,255,255,0.8)
	}

	main .black-60{
		color:rgba(255,255,255,0.6)
	}

	main .black-50{
		color:rgba(255,255,255,0.5)
	}

	.package__sidebarCode___3QsIw {
		border: 1px #2A303C solid;
	}

	.tabs__tab___1gHZ2.tabs__teal___23Oy8:hover {
		background-color: #0C3040;
	}

	rect[fill="#cccccc"] {
		fill: #fb3e44;
	}

		.markdown__markdown___3yof6 strong{
		color:#fff
	}

	.markdown .deep-link .deep-link-icon{
		fill:#fff
	}

	.markdown .highlight{
		background-color:#20242d
	}

	.markdown .storage.type,
	.markdown .keyword,
	.markdown .variable{
		color:#a6e22e
	}

	.markdown .highlight{
		color:#BDCCF7
	}

	.markdown .entity.name.function,
	.markdown .support.constant,
	.markdown .support.function,
	.markdown .support.type{
		color:#569CE8;
	}

	.markdown td,
	.markdown th{
		color:#222
	}

	.markdown .constant {
		color: orange !important;
	}

	.markdown .class {
		color: #D3C633 !important;
	}

	.markdown .string {
		color: #CACACA !important;
	}

	.markdown .comment {
		color: #5F5E5E !important;
	}

	/* -- NPM Dark Theme -- */
	main .b--black-10{border-color:rgba(255,255,255,0.2)}.package__sectionHeader___Ov0xh{color:#fff}.package__rightSidebar___9dMXo{background:#20242d}.package__install___3jWoO svg,.package__downloads___1Bmfo svg,.package__runkit___1iQd- svg .line,.package__runkit___1iQd- svg .line-round,.package__githubIcon___3R9ox svg g{fill:#fff}.tabs__tabs___17CUw{background:#20242d}.tabs__tab___1gHZ2.tabs__yellow___1c2N8 .tabs__tabLink___2tDwu,.tabs__tabLink___2tDwu,.tabs__tab___1gHZ2.tabs__purple___3sUHq .tabs__tabLink___2tDwu,.tabs__tab___1gHZ2.tabs__violet___rtKBH .tabs__tabLink___2tDwu{color:#fff}.tabs__tab___1gHZ2.tabs__yellow___1c2N8:hover{background-color:rgba(255,205,58,0.1)}.tabs__tab___1gHZ2:hover{background-color:rgba(203,56,55,0.1)}.tabs__tab___1gHZ2.tabs__purple___3sUHq:hover{background-color:rgba(200,54,195,0.1)}.tabs__tab___1gHZ2.tabs__violet___rtKBH:hover{background-color:rgba(137,86,255,0.1)}.tabs__tab___1gHZ2.tabs__yellow___1c2N8.tabs__tabActive___29JkF{background-color:rgba(255,205,58,0.2)}.tabs__tab___1gHZ2.tabs__tabActive___29JkF{background-color:rgba(203,56,55,0.2)}.tabs__tab___1gHZ2.tabs__purple___3sUHq.tabs__tabActive___29JkF{background-color:rgba(200,54,195,0.2)}.tabs__tab___1gHZ2.tabs__violet___rtKBH.tabs__tabActive___29JkF{background-color:rgba(137,86,255,0.2)}.package__infoBox___3RWfG{background:transparent}.forms__buttonGradient___wj4os{background:transparent}.footer__footer___20QpA{background-color:#2A303C}.footer__footer___20QpA h3{color:#fff}.footer__footer___20QpA a{color:#fff}footer.mt4{margin-top:0}.markdown,.markdown p,.markdown li,.markdown__markdown___3yof6 h1,.markdown__markdown___3yof6 h2,.markdown__markdown___3yof6 h3,.markdown__markdown___3yof6 h4,.markdown__markdown___3yof6 h5,.markdown__markdown___3yof6 h6{color:#fff}.markdown__markdown___3yof6 h1,.markdown__markdown___3yof6 h2,.markdown__markdown___3yof6 h3,.markdown__markdown___3yof6 h4,.markdown__markdown___3yof6 h5,.markdown__markdown___3yof6 h6{border-bottom:1px solid rgba(255,255,255,0.1)}.markdown>blockquote,.markdown>pre,.markdown>code,.markdown :not(table):not(thead):not(tbody):not(tr):not(td) blockquote,.markdown :not(table):not(thead):not(tbody):not(tr):not(td) pre,.markdown :not(table):not(thead):not(tbody):not(tr):not(td) code{background:#20242d}
}
